<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CheckedIn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">POC</a></li>
                <li><a href="#!/">Home</a></li>
                <li><a href="#!/login">Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <h1>POC for Checked In</h1>
    <div class="row">

        <div class="col-xs-12 col-md-4">
            <h2>Search venue by place</h2>
            <input type="text" placeholder="What are you looking for?" ng-model="name" class="form-control">
            <input type="text" placeholder="Where are you looking?" ng-model="location" class="form-control">
            <a class="btn btn-primary btn-block form-control" ng-click="model.searchVenueByName(location, name)">Search</a>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>Search venues by your location</h2>
            <a class="btn btn-primary btn-block form-control" ng-click="model.searchVenueByLocation()">Find places around me</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div ng-show="model.resultByName"><h1>Results:</h1></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="val in model.resultByName.response.venues">
                    <a href="#!/poc/venue/{{val.id}}">{{val.name}}</a> at {{val.location.formattedAddress}}
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <div ng-show="model.resultByLocation"><h1>Results:</h1></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="val in model.resultByLocation.response.venues">
                    <a href="#!/poc/venue/{{val.id}}">{{val.name}}</a> at {{val.location.formattedAddress}}
                </li>
            </ul>
        </div>


    </div>




</div>
