<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CheckedIn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li class="active"><a href="#">Search</a></li>
                <li><a href="#!/login">Login</a></li>
                <li><a href="#!/user">Profile</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
<h1>Venue name:</h1>
    {{model.venue.name}}

    <div ng-switch="model.bookmarked">
        <a ng-switch-when="false" role="button" ng-click="model.bookmarkVenue()"
           class="btn btn-primary btn-block">Bookmark</a>
        <a ng-switch-when="true" role="button" ng-click="model.unbookmarkVenue()"
           class="btn btn-danger btn-block">Remove bookmark</a>
    </div>

    <h2>Location:</h2>
    {{model.venue.location.formattedAddress}}
    <h2>Timings:</h2>
    {{model.venue.hours.status}}
    <h2>Rating:</h2>
    {{model.venue.rating}}
    <!--<h1>{{model.venue}}</h1>-->
</div>
</div>
