
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CheckedIn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="fa fa-search"></span> Search</a></li>
                <li ng-show="model.currentUser" ><a href="#!/user"><span class="fa fa-user"></span> {{model.currentUser.username}}</a></li>
                <li ng-show="!model.currentUser"><a href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser"><a href="#!/register">Register</a></li>
                <li ng-show="model.currentUser"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h1>Profile</h1>
            <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
            @{{model.user.username}}<br>
            Status: <i>{{model.user.status}}</i>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
            <img class="img-responsive" src="{{model.user.pictureUrl}}">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div ng-switch="model.followed">
                <a ng-switch-when="false" role="button" ng-click="model.followUser()"
                   class="btn btn-primary btn-block">Follow User</a>
                <a ng-switch-when="true" role="button" ng-click="model.unfollowUser()"
                   class="btn btn-danger btn-block">Unfollow User</a>
            </div>

            <div ng-switch="model.currentTab">
                <div ng-switch-when="FOLLOW">
                    <ng-include src="'views/profile/templates/component/follow.view.client.html'">
                </div>
                <div ng-switch-when="REVIEW">
                    <ng-include src="'views/profile/templates/component/review.view.client.html'">
                </div>
            </div>
        </div>
        <!--<div id="show" class="col-md-8 col-xs-12">-->

            <!--Posts / activity-->
            <!--&lt;!&ndash;<div ng-include="'viewsfollow.view.client.htmlnent.client.html'"></div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
