
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CheckedIn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li class="active"><a href="#">Profile</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid hv-padding">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h1>Profile</h1>
            <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
            @{{model.user.username}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
            <img class="img-responsive" src="{{model.user.pictureUrl}}">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <a href="#!/user/following"
               class="btn btn-default btn-block">Following {{model.following.length}}</a>
            <a href="#!/user/bookmarks"
               class="btn btn-default btn-block">Bookmarks {{model.bookmark.length}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h2>Bookmarks:</h2>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bookmark in model.bookmark">
                    <a href="#!/venue/{{bookmark}}">Bookmark</a>
                    <a ng-click="model.unbookmarkVenue(bookmark._id)" class="pull-right">Unbookmark</a>
                </li>
                <li class="list-group-item" ng-show="!model.bookmark.length">
                    You have not have any venue bookmarked :(
                </li>
            </ul>
            <a href="#!/search"
               class="btn btn-success btn-block">Find venues</a>
        </div>
    </div>
</div>




