
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CheckedIn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li class="active"><a href="#!/user">Profile</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">-->
    <!--<div class="container-fluid">-->
        <!--<p class="navbar-text pull-left">-->
            <!--<a href="#"><span class="glyphicon glyphicon-chevron-left pull-left hv-icon-white"></span></a>-->
        <!--</p>-->
        <!--<div class="navbar-brand hv-text-white">Profile</div>-->
        <!--<p class="navbar-text pull-right">-->
            <!--<a role="button" ng-click="model.updateUser(model.user)"><span class="glyphicon glyphicon-ok pull-right hv-icon-white"></span></a>-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h1>Profile</h1>
            <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
            @{{model.user.username}}
            <a href="#!/user/edit" class="btn-default btn">Edit Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
            <img class="img-responsive" src="{{model.user.pictureUrl}}">
            <br>
        </div>
    </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#!/user/">Notifications</a></li>
                        <li><a href="#!/user/following">Following ({{model.following.length}})</a></li>
                        <li><a href="#!/user/bookmarks">Bookmarks ({{model.bookmark.length}})</a></li>
                    </ul>
        </div>
        <!--<div id="show" class="col-md-8 col-xs-12"  style="background: red">-->
            <!--<div ng-include="'views/user/templafollow.view.client.htmlhtml'"></div>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h2>Notifications:</h2>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="n in model.notification">
                    <div ng-switch="n.type">
                        <div ng-switch-when="REVIEW">
                            <a href="#!/user/{{n._user._id}}"><b>{{n._user.username}}</b></a> left a review for <a href="#!/venue/{{n._venue._id}}"><b>{{n._venue.name}}</b></a>, check it out!<br>
                            <small>{{n.dateCreated | date}}</small>
                        </div>
                        <div ng-switch-when="OFFER">
                            <a href="#!/venue/{{n._venue._id}}"><b>{{n._venue.name}}</b></a> just posted a new offer, don't miss it!<br>
                            <small>{{n.dateCreated | date}}</small>
                        </div>
                        <div ng-switch-when="INVITE">
                            <a href="#!/user/{{n._user._id}}"><b>{{n._user.username}}</b></a> invited you:<br>
                            {{n.text}}<br>
                            <small>{{n.dateCreated | date}}</small>
                        </div>
                        <div ng-switch-when="CHECKIN">
                            <a href="#!/user/{{n._user._id}}"><b>{{n._user.username}}</b></a> just checked in at <a href="#!/venue/{{n._venue._id}}"><b>{{n._venue.name}}</b></a>!<br>
                            <small>{{n.dateCreated | date}}</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="!model.notification.length">
                    You do not have any notifications :(
                </li>
            </ul>
        </div>
    </div>
</div>
