<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <ul class="nav nav-tabs">
            <li><a ng-click="model.toReview()">Reviews ({{model.review.length}})</a></li>
            <li class="active"><a ng-click="model.toFollow()">Following ({{model.following.length}})</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h2>Following:</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in model.following">
                <a href="#!/user/{{user._id}}">{{user.username}}</a>
            </li>
            <li class="list-group-item" ng-show="!model.following.length">
                User does not follow any user :(
            </li>
        </ul>
    </div>
</div>




